@font-face {
  font-family: 'BRHendrix';
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-Thin.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-Thin.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-Thin.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 100;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-ThinItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-ThinItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-ThinItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-ExtraLight.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-ExtraLight.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-ExtraLight.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 200;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-ExtraLightItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-ExtraLightItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-ExtraLightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-Light.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-Light.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 300;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-LightItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-LightItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-LightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-Regular.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-Regular.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-RegularItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-RegularItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-RegularItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-Regular.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-Regular.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 500;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-RegularItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-RegularItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-RegularItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-SemiBold.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-SemiBold.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-SemiBold.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 600;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-SemiBoldItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-SemiBoldItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-SemiBoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-Bold.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-Bold.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 700;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-BoldItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-BoldItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/brhendrix/BRHendrix-Black.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-Black.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-Black.ttf) format('ttf');
}

@font-face {
  font-family: 'BRHendrix';
  font-weight: 800;
  font-style: italic;
  src: url(../fonts/brhendrix/BRHendrix-BlackItalic.woff2) format('woff2'),
    url(../fonts/brhendrix/BRHendrix-BlackItalic.woff) format('woff'),
    url(../fonts/brhendrix/BRHendrix-BlackItalic.ttf) format('ttf');
}
