// BTC Color Palette

:root {
  --bigWaves-50: #f5faff;
  --bigWaves-100: #d2ebff;
  --bigWaves-200: #8ec4f6;
  --bigWaves-300: #619ddd;
  --bigWaves-400: #3e78c0;
  --bigWaves-500: #2c5c9d;
  --bigWaves-600: #184281;
  --bigWaves-700: #0c2c60;
  --bigWaves-800: #031633;
  --bigWaves-900: #010d25;
  --quicksilver-50: #e2e9ef;
  --quicksilver-100: #c5d1dc;
  --quicksilver-200: #a3b4c4;
  --quicksilver-300: #8597ab;
  --quicksilver-400: #6c7c90;
  --quicksilver-500: #53657d;
  --quicksilver-600: #425066;
  --quicksilver-700: #313d50;
  --quicksilver-800: #212a3a;
  --quicksilver-900: #0d1119;
  --goldRush-50: #fff8d5;
  --goldRush-100: #fbda73;
  --goldRush-200: #e8b80a;
  --goldRush-300: #c4981b;
  --goldRush-400: #ab781e;
  --goldRush-500: #8f5e1a;
  --goldRush-600: #7a4615;
  --goldRush-700: #682e0c;
  --goldRush-800: #4e1a05;
  --goldRush-900: #220801;
  --emeraldCity-50: #f0fef7;
  --emeraldCity-100: #94f5cd;
  --emeraldCity-200: #5bdbad;
  --emeraldCity-300: #2cbc8d;
  --emeraldCity-400: #1f9b79;
  --emeraldCity-500: #147f64;
  --emeraldCity-600: #0a6653;
  --emeraldCity-700: #075043;
  --emeraldCity-800: #033b2d;
  --emeraldCity-900: #001e16;
  --rubySlippers-50: #fff5f5;
  --rubySlippers-100: #ffbfbf;
  --rubySlippers-200: #fd9291;
  --rubySlippers-300: #f56161;
  --rubySlippers-400: #e1323b;
  --rubySlippers-500: #c01023;
  --rubySlippers-600: #9a0c20;
  --rubySlippers-700: #75071a;
  --rubySlippers-800: #500513;
  --rubySlippers-900: #1e0003;
  --alpenglow-50: #ffe4ed;
  --alpenglow-100: #febfd5;
  --alpenglow-200: #fc8fb9;
  --alpenglow-300: #f15d9e;
  --alpenglow-400: #dd2b85;
  --alpenglow-500: #b81470;
  --alpenglow-600: #920c5e;
  --alpenglow-700: #70064a;
  --alpenglow-800: #4c0332;
  --alpenglow-900: #19000f;
}
