// Ashmore Partners Color Palette

:root {
  --blueWaves-50: #f5faff;
  --blueWaves-100: #d2ebff;
  --blueWaves-200: #8ec4f6;
  --blueWaves-300: #619ddd;
  --blueWaves-400: #3e78c0;
  --blueWaves-500: #2c5c9d;
  --blueWaves-600: #184281;
  --blueWaves-700: #0c2c60;
  --blueWaves-800: #031633;
  --blueWaves-900: #010d25;
  --quicksilver-50: #e2e9ef;
  --quicksilver-100: #c5d1dc;
  --quicksilver-200: #a3b4c4;
  --quicksilver-300: #8597ab;
  --quicksilver-400: #6c7c90;
  --quicksilver-500: #53657d;
  --quicksilver-600: #425066;
  --quicksilver-700: #313d50;
  --quicksilver-800: #212a3a;
  --quicksilver-900: #0d1119;
  --goldRush-50: #fff8d5;
  --goldRush-100: #fbda73;
  --goldRush-200: #e8b80a;
  --goldRush-300: #c4981b;
  --goldRush-400: #ab781e;
  --goldRush-500: #8f5e1a;
  --goldRush-600: #7a4615;
  --goldRush-700: #682e0c;
  --goldRush-800: #4e1a05;
  --goldRush-900: #220801;
  --emeraldCity-50: #effcf6;
  --emeraldCity-100: #c4f6e0;
  --emeraldCity-200: #8deac5;
  --emeraldCity-300: #64d4ab;
  --emeraldCity-400: #3ebd93;
  --emeraldCity-500: #23a57f;
  --emeraldCity-600: #188d6f;
  --emeraldCity-700: #127961;
  --emeraldCity-800: #0a6654;
  --emeraldCity-900: #014d40;
  --rubySlippers-50: #ffe3e3;
  --rubySlippers-100: #ffcdcd;
  --rubySlippers-200: #ffaaaa;
  --rubySlippers-300: #fc8483;
  --rubySlippers-400: #f45c5c;
  --rubySlippers-500: #e3333d;
  --rubySlippers-600: #cb1023;
  --rubySlippers-700: #ac091e;
  --rubySlippers-800: #8d051a;
  --rubySlippers-900: #610316;
  --alpenglow-50: #ffe4ed;
  --alpenglow-100: #fecfdf;
  --alpenglow-200: #ffabcb;
  --alpenglow-300: #fc83b4;
  --alpenglow-400: #f15c9e;
  --alpenglow-500: #e42e8a;
  --alpenglow-600: #ca0e75;
  --alpenglow-700: #a90767;
  --alpenglow-800: #8b0559;
  --alpenglow-900: #620042;
}
