@font-face {
  font-family: 'Guerrer';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Thin.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Thin.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Thin.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-ThinOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-ThinOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-ThinOblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Extralight.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Extralight.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Extralight.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-ExtralightOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-ExtralightOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-ExtralightOblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Light.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Light.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-LightOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-LightOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-LightOblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Book.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Book.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Book.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-BookOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-BookOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-BookOblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer.woff) format('woff'),
    url(../fonts/guerrer/Guerrer.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Oblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Oblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Oblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Medium.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Medium.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-MediumOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-MediumOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-MediumOblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Semibold.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Semibold.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Semibold.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-SemiboldOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-SemiboldOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-SemiboldOblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Bold.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Bold.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-BoldOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-BoldOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-BoldOblique.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-Extrabold.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-Extrabold.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-Extrabold.ttf) format('ttf');
}

@font-face {
  font-family: 'Guerrer';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/guerrer/Guerrer-ExtraboldOblique.woff2) format('woff2'),
    url(../fonts/guerrer/Guerrer-ExtraboldOblique.woff) format('woff'),
    url(../fonts/guerrer/Guerrer-ExtraboldOblique.ttf) format('ttf');
}
