// Gravity Forms Specificy h3ll

.gform_wrapper {
  ul > li {
    @apply pl-0 my-2;
    &::before {
      @apply hidden;
    }
  }

  .gform_heading {
    @apply mb-4;
  }
  span.gform_description {
    @apply font-light w-auto;
  }

  label.gfield_label,
  .field_sublabel_below .ginput_complex.ginput_container label {
    @apply font-semibold;
  }

  .field_sublabel_below .ginput_complex.ginput_container label {
    @apply text-xs tracking-normal;
  }

  input[type="email"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="week"],
    input[type="url"],
    select,
    textarea,
    /* prettier-ignore */
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
    @apply border-solid border border-quicksilver-50 py-1 px-2 text-sm font-light w-full;

    transition: all 200ms ease-in-out;

    &:focus {
      @apply border-quicksilver-50 outline-none shadow;
    }
  }

  // .button,
  // .gform_footer input[type='submit'] {
  //   @extend %btn;
  // }

  .gfield_required {
    color: inherit;
  }

  .validation_error {
    @apply p-4 py-8 text-rubySlippers-500 text-center text-base;
  }

  .gfield_error .gfield_label,
  li.gfield_error div.ginput_complex.ginput_container label,
  li.gfield_error ul.gfield_checkbox,
  li.gfield_error ul.gfield_radio {
    @apply text-rubySlippers-500;
  }

  /* prettier-ignore */
  li.gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
    li.gfield_error textarea {
      @apply border-rubySlippers-500;
    }

  .validation_message {
    @apply w-full text-rubySlippers-500;
  }
  .gform_validation_container {
    display: none !important;
  }
}
