header {
  .nav-primary {
    @apply md:flex md:flex-row items-center hidden;
    ul {
      @apply md:flex md:flex-row items-center my-0;
      > li::before {
        display: none;
      }
      li {
        @apply px-2 m-0 relative;
        a,
        &:visited {
          @apply no-underline text-quicksilver-50 uppercase font-display;
          &:hover,
          &:focus {
            @apply text-goldRush-100;
          }
        }
      }

      // Dropdown Menu
      &.sub-menu {
        @apply hidden absolute z-10 -ml-4 mt-3 p-8 w-screen max-w-sm rounded shadow-xl overflow-hidden border-2 border-quicksilver-800 bg-quicksilver-900 gap-6 sm:gap-8 lg:-left-1/2;
        li {
          a,
          &:visited {
            @apply text-quicksilver-100;
            &:hover,
            &:focus {
              @apply text-goldRush-100 border-b-2 border-goldRush-100;
            }
          }
        }
      }
    }

    .menu-loans {
      @apply relative pr-8;
      &::after {
        @apply absolute top-0.5 right-2.5 stroke-current fill-current text-bigWaves-100 w-4;
        content: url('../svg/chevron-down.svg');
      }
    }
  }

  .mobile-navigation {
    #menu-footer {
      @apply mt-0 space-y-4;
      > li::before {
        display: none;
      }
      li {
        @apply px-0;
        a,
        &:visited {
          @apply text-2xl no-underline text-bigWaves-50;
          &:hover,
          &:focus {
            @apply text-goldRush-100;
          }
        }
      }
    }
  }
}
